<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

	<bean id="moocAspect" class="liqi.aop.advice.MoocAspect"></bean>
	
	<bean id="aspectBiz" class="liqi.aop.advice.AspectBiz"></bean>
	
	<aop:config>
		<aop:aspect id="moocAspectAOP" ref="moocAspect">
 			<aop:pointcut expression="execution(* liqi.aop.advice.*Biz.*(..))" id="moocPiontcut"/>
 			<aop:before method="before" pointcut-ref="moocPiontcut"/>
 			<aop:after-returning method="afterReturning" pointcut-ref="moocPiontcut"/>
 			<aop:after-throwing method="afterThrowing" pointcut-ref="moocPiontcut"/>
 			<aop:after method="after" pointcut-ref="moocPiontcut"/>
 			<aop:around method="around" pointcut-ref="moocPiontcut"/>
			
 			<aop:around method="aroundInit" pointcut="execution(* liqi.aop.advice.AspectBiz.init(String, int))
 							and args(bizName, times)"/>

				<aop:declare-parents types-matching="liqi.aop.advice.*+"
							implement-interface="liqi.aop.advice.Fit"
							default-impl="liqi.aop.advice.FitImpl"/>
		</aop:aspect>
	</aop:config>

 </beans>
